.App {
  
}

.navbar {
  background: #F55A5A;
  color: #fff;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.navbar svg {
  margin-right: 5px;
}

.card {
  margin: 45px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-image {
  border-radius: 5px;
  margin-right: 20px;
}

.card-content {
  width: 400px;
  font-size: 12px;
  text-align: left;
}

.icon-location {
  color: #F55A5A;
}

.country {
  margin: 0 5px;
  text-transform: uppercase;
}

.maps-link {
  margin-left: 5px;
  color: #918E9B;
}

.city {
  font-weight: 500;
  font-size: 25px;
}

.date {
  font-weight: 500;
}